{% extends "common.html" %}

{% block body %}
<h1>Index</h1>

<form method="POST" action="/">
    {{ form.csrf_token }}

    <div class="mb-3">
        {{ form.url_to.label(class="form-label") }} {{ form.url_to(size=20, class="form-control") }}

        {% if form.url_to.errors %}
            {% for error in form.url_to.errors %}
                <div class="form-text"><p class="text-danger">{{ error }}</p></div>
            {% endfor %}
        {% endif %}
    </div>

    {{ form.submit(class="btn btn-primary") }}
</form>

<h1>URL raccourcies : </h1>

<table class="table">
    <thead>
        <tr>
            <th>URL courte</th>
            <th>URL de destination</th>
        </tr>
    </thead>
{% for r in redirections %}
<tr>
    <td><a href="{{ url_for('redirection', url=r.url_from) }}" target="_blank">{{ url_for('redirection', url=r.url_from) }}</a></td>
    <td><a  href="{{ r.url_to }}" target="_blank">{{r.url_to | truncate(100) }}</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}